language: python
python:
    - "2.7"
    - "3.5"
    - "3.6"
    - "3.7"
install:
    - pip install -U pip setuptools wheel
    - pip install -U pytest pytest-cov coveralls
    - pip install Cython==0.25.2
    - pip install -e .
script:
    - py.test --cov-config .coveragerc --cov=wwb_scanner
after_success:
    - coveralls
